div.sixteen.columns
  p
div.sixteen.columns
  div#placeholder(width='960', height='200', style='width:960px; height:200px')
script(type='text/javascript', src='js/sim.common.js')
script(type='text/javascript', src='js/sim.econ.js')
script(type='text/javascript', src='js/sim.js')
