div.sixteen.columns
  h1(style='padding-top: 20px') Build Analyzer
div.sixteen.columns
  div#placeholder(width='960', height='300', style='width:960px !important; height:300px')
script(type='text/javascript')
script(type='text/javascript', src='main.js')
