div.sixteen.columns
  p
div.sixteen.columns
  div#placeholder(width='960', height='300', style='width:960px; height:300px')
script(type='text/javascript', src='sim/sim.data.js')
script(type='text/javascript', src='sim/sim.common.js')
script(type='text/javascript', src='sim/sim.gamerules.js')
script(type='text/javascript', src='sim/sim.decide.js')
script(type='text/javascript', src='sim/sim.behavior.train.js')
script(type='text/javascript', src='sim/sim.econ.js')
script(type='text/javascript', src='sim/sim.buildhelper.js')
script(type='text/javascript', src='sim/sim.helpers.js')
script(type='text/javascript', src='sim/sim.js')
