!!! 5
html(lang='en')
  head
      link(rel='stylesheet/less', type='text/css', href='main.less')
      link(rel='stylesheet/css', type='text/css', href='skeleton.css')
      script(type='text/javascript', src='less.min.js')
      script(type='text/javascript', src='jquery.min.js')
      script(type='text/javascript', src='jquery.flot.min.js')
      script(type='text/javascript', src='jquery.flot.selection.min.js')
      script(type='text/javascript', src='jquery.flot.crosshair.min.js')
      script(type='text/javascript', src='jquery.flot.navigate.min.js')
   body
      div.container!= body
