!!! 5
html(lang='en')
   head
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      link(rel='stylesheet', type='text/css', href='base.css')
      link(rel='stylesheet', type='text/css', href='skeleton.css')
      link(rel='stylesheet', type='text/css', href='layout.css')
      script(type='text/javascript', src='jquery.min.js')
      script(type='text/javascript', src='jquery.flot.min.js')
      script(type='text/javascript', src='jquery.flot.selection.min.js')
      script(type='text/javascript', src='jquery.flot.crosshair.min.js')
      script(type='text/javascript', src='jquery.flot.navigate.min.js')
   body
      div.container!= body
